@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
  
  --sidebar: #f4f4f5;
  --sidebar-foreground: #09090b;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #fafafa;
    
    --sidebar: #18181b;
    --sidebar-foreground: #fafafa;

    --muted: #27272a;
    --muted-foreground: #a1a1aa;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
